body {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    font-family: "Lack";
    background: #000A23;
    ;
  }
  .icon {
    position: absolute;
    width: 129px;
    height: 63px;
    left: 33px;
    top: 14px;
  }
.menuitems  {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: 830px;
    margin-right: 33px;
    height: 62px;
    margin-top: 14px;
  }

  .menu {
    font-family: 'Lack';
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
    color: white;
    border: 1px solid white; 
    padding-top: 35px;
    padding-left: 17px;
    padding-right: 17px;
  } 
  .menu:hover {
    position: relative;
    opacity: 1;
    transform: scale(1.2);
    color: #FF5858;
}
  p {
    margin: -28px 0 0 auto;
  }
.karta1{
  position: absolute;
  top: 181px;
  width: 100%;
  text-align: center; 
}
.karta2{
  position: absolute;
  top: 1243px;
  width: 100%;
  text-align: center;
}
.karta3{
  position: absolute;
  top: 2372px;
  width: 100%;
  text-align: center;
}
.karta4{
  position: absolute;
  top: 3453px;
  width: 100%;
  text-align: center;
}
/* первый клик */
.button1 {
  position: absolute; 
  width: 298px;
  top: 839px;
  left: 20px;
  font-family: 'Lack';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 29px;
  color: #ffffff;
  background: transparent;
  border: none;
}
.tap1 {
  position: absolute;
  text-align: center; 
  top: 180px;
}
/* второй клик */
.button2 {
  position: absolute;
  width: 298px;
  top: 1325px;
  left: 20px;
  font-family: 'Lack';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 29px;
  color: #ffffff;
  background: transparent;
  border: none;

}
.tap2 {
  position: absolute;
  text-align: center; 
  top: 1242px;
}
/* третий клик */
.button3 {
  position: absolute;
  width: 298px;
  top: 2429px;
  left: 20px;
  font-family: 'Lack';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 29px;
  color: #ffffff;
  background: transparent;
  border: none;

}
.tap3 {
  position: absolute;
  text-align: center; 
  top: 2373px;
}
/* четвертый */
.button4 {
  position: absolute;
  width: 298px;
  top: 3503px;
  left: 20px;
  font-family: 'Lack';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 29px;
  color: #ffffff;
  background: transparent;
  border: none;

}
.tap4 {
  position: absolute;
  text-align: center; 
  top: 3453px;
}

.textt1 {
position: absolute;
color: #FFF;
font-size: 24px;
font-family: Lack;
top: 168px;
left: 20px;
}
.textt2 {
  position: absolute;
  color: #FFF;
  font-size: 24px;
  font-family: Lack;
  top: 1230px;
  left: 20px;
  }
.textt3 {
  position: absolute;
  color: #FFF;
  font-size: 24px;
  font-family: Lack;
  top: 2359px;
  left: 20px;
 }
 .textt4 {
  position: absolute;
  color: #FFF;
  font-size: 24px;
  font-family: Lack;
  top: 3440px;
  left: 20px;
 }