body {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    font-family: "Lack";
    background: #000A23;
    ;
  }
  .icon {
    position: absolute;
    width: 129px;
    height: 63px;
    left: 33px;
    top: 14px;
  }
.menuitems  {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: 830px;
    margin-right: 33px;
    height: 62px;
    margin-top: 14px;
  }

  .menu {
    font-family: 'Lack';
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
    color: white;
    border: 1px solid white; 
    padding-top: 35px;
    padding-left: 17px;
    padding-right: 17px;
  } 
  .menu:hover {
    position: relative;
    opacity: 1;
    transform: scale(1.2);
    color: #FF5858;
}
  p {
    margin: -28px 0 0 auto;
    
  }
