
  body {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    font-family: "Lack";
    background: #000A23;
    ;
  }
  .menuitems  {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: 210px;
    margin-right: 40px;
    height: 50px;
    margin-top: 20px;

  }
  .menu {
    font-family: 'Lack';
    font-style: normal;
    font-size: 30px;
    line-height: 30px;
    color: white;
    border: 1px solid white; 
    padding-top: 52px;
    padding-left: 50px;
    padding-right: 50px;
  } 
  .menu:hover {
    position: relative;
    opacity: 1;
    transform: scale(1.2);
    color: #FF5858;
}
  p {
    margin: -40px 0 0 auto;
    
  }

  .icon {
    position: absolute;
    width: 129px;
    height: 63px;
    left: -177px;
    top: -6px;
  }

  .text1 {
    position: absolute;
    width: 283px;
    height: 282px;
    left: 30px;
    top: 160px;
    font-family: 'Lack';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;

    color: #FFFFFF;
  }
  .ba {
    position: absolute;
    left: 638px;
    top: 127px;
  }
.de {
    position: absolute;
    left: 1060px;
    top: 108px;
}

.ba1 {
    position: absolute;
    left: 638px;
    top: 127px;  
}

.ba1 {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease-out;
 }
 .ba1:hover {
  opacity: 100%;
}
.de1 {
    position: absolute;
    left: 1060px;
    top: 108px;
}

.de1 {
    opacity: 0%;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease-out;
 }
 .de1:hover {
    opacity: 100%;
  }
  .palka {
  position: absolute;
  left: 1313px;
  top: 430px;
  }
  /* .rotate {
    transform: rotate(360deg);
    transition: transform 1s ease-in-out;
  } */

  .kust {
    position: absolute;
    top: 259px;
    left: -16px;
    animation: move_kust 2s ease-in-out infinite;
  }
  
  @keyframes move_kust {
    0% { transform: translateX(0); }
    50% { transform: translateX(200px); }
    100% { transform: translateX(0); }
  }
  .bv {
    position: absolute;
    left: 40px;
    top: 511px;
  }

  .text2 {
    position: absolute;
    width: 283px;
    height: 282px;
    left: 30px;
    top: 257px;
    font-family: 'Lack';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: white;
  }
  .rotate {
    transform: rotate(360deg);
    transition: transform 1s ease-in-out;
  }